*.py

# HIDE API KEYS
telegram_bot/config.py

# PREVENT UNECESSARY BLOATING
telegram_bot/__pycache__/

# ENSURE SECRETS AREN'T PUSHED TO GIT
jellyfin_server/jellyfin-secrets.yaml
prowlarr_server/prowlarr-secrets.yaml
